* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: #05e0f0;
    padding: 15px 0;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.navbar-logo img {
    width: 50px;
    height: auto;
}

.navbar-menu {
    list-style-type: none;
}

.navbar-menu li {
    display: inline-block;
    margin-left: 20px;
}

.navbar-menu li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 22px;
    padding: 8px 16px;
    transition: background-color 0.3s ease;
}

.navbar-menu li a:hover {
    background-color: #00aeff;
    border-radius: 5px;
}

/* About Section */
.about-section {
    padding: 50px 20px;
    background-color: #ffffff;
}

.about-container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.about-container h1 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
}

.about-container p {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 20px;
    line-height: 1.6;
}

.team-section {
    margin-top: 50px;
}

.team-section h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 30px;
}

.team-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.team-member {
    text-align: center;
    flex: 1;
    max-width: 300px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.team-member:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.team-member img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
}

.team-member h3 {
    font-size: 1.5rem;
    color: #05e0f0;
    margin-bottom: 10px;
}

.team-member p {
    font-size: 1rem;
    color: #777;
}

/*  footer */
.footer {
    width: 100%;
    height: 70px;
    padding: 20px 0;
    background-color: #05e0f0;
    border-top: 1px dotted #ddd;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-right a {
    color: #333;
    text-decoration: none;
    margin-right: 15px;
    font-size: 14px;
}

.footer-right span {
    font-weight: bold;
    margin-right: 10px;
    font-size: 14px;
}

.footer-right a:hover {
    text-decoration: underline;
}

