/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Container */
.container {
    display: flex;
    max-width: 1000px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

/* Form Container */
.form-container {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-container h1 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #333;
}

.form-container h2 {
    font-size: 1.2rem;
    color: #777;
    margin-bottom: 30px;
}

.form-container label {
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
    display: block;
}

.form-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.form-container button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.form-container button:hover {
    background-color: #0056b3;
}

/* Image Container */
.image-container {
    flex: 1;
    position: relative;
}

.image-container img {
    width: 90%;
    height: 60%;
    border-radius: 22px;
    margin-bottom: 20px;
    margin-top: 100px;
    /* object-fit: cover; */
}

.image-container .buttons {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.image-container .buttons a button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.image-container .buttons a button:hover {
    background-color: #218838;
}

.image-container p {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 1rem;
    margin-bottom: 10px;
}

.image-container p a {
    color: white;
    text-decoration: underline;
}

.image-container p a:hover {
    color: #f0f0f0;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .form-container {
        padding: 20px;
    }

    .image-container img {
        height: 300px;
    }

    .image-container p,
    .image-container .buttons {
        position: static;
        transform: none;
        text-align: center;
    }
}
