* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar */
.navbar {
    background-color: #10cff1d5;
    padding: 15px 0;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.navbar-logo img {
    width: 50px;
    height: auto;
}

.navbar-menu {
    list-style-type: none;
}

.navbar-menu li {
    display: inline-block;
    margin-left: 20px;
}

.navbar-menu li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    padding: 8px 16px;
    transition: background-color 0.3s ease;
    font-size: 22px;
}

.navbar-menu li a:hover {
    background-color: #00aeff;
    border-radius: 5px;
}

/* Services Section */
.services-section {
    padding: 50px 20px;
    background-color: #f4f4f4;
}

.services-container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.services-container h1 {
    font-size: 2.5rem;
    color: #000000d5;
    margin-bottom: 20px;
}

.services-container p {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 30px;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.service-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.service-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
}

.service-card h3 {
    font-size: 1.5rem;
    color: #00d6fc;
    margin-bottom: 10px;
}

.service-card p {
    font-size: 1rem;
    color: #777;
}

/*  footer */
.footer {
    width: 100%;
    height: 70px;
    padding: 20px 0;
    background-color: #10cff1d5;
    border-top: 1px dotted #ddd;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-right a {
    color: #333;
    text-decoration: none;
    margin-right: 15px;
    font-size: 14px;
}

.footer-right span {
    font-weight: bold;
    margin-right: 10px;
    font-size: 14px;
}

.footer-right a:hover {
    text-decoration: underline;
}
